@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 2rem 0rem 2rem;
}

h2{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

.icone-sucesso{
    height: 15rem;
    width: 15rem;
    margin: 0rem 0rem 3rem 0rem;    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122,150,196);
    height: 2rem;
    width: 10rem;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-size: 1.4rem;
}