@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
    font-family: 'IBM Plex Serif', serif;
}

header {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    background-color: white;
    z-index: 1;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 4%;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4%;
}

a{
    text-decoration: none;
    color: white;
}

.botao_download{
    height: 2rem;
    width: 20rem;
    margin-top: 2%;
    background-color: rgb(91, 113, 149);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
}

.botao_alterar_pagamento{
    height: 3rem;
    width: 9.5rem;
    background-color: rgb(91, 113, 149);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110%;
}

.botao_finalizar_compra{
    height: 2.845rem;
    width: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 113, 149);
    border-radius: 5%;
    font-size: 110%;
}

.img_voltar{
    height: 1rem;
    width: 2rem;
}

.img_suporte{
    height: 1.7rem;
    width: 1.7rem;
}

.img_contrato{
    height: 27rem;
    width: 20rem;
    margin-top: 12%;
}

.img_cartao{
    height: 12rem;
    width: 20rem;
    margin-top: 5%;
}