header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 4%;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
}

main{
    margin-bottom: 50%;
}

footer{
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    border-top: 0.2rem solid black;
    background-color: white;
}

.menu{
    margin: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Economia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 15%;
}

.botoes-grafico{
    position: absolute;
    left: 0%;
    right: 0%;
    top: -7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 20%;
}

.informacao_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10%;
}

.meta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_voltar{
    height: 15px;
    width: 29px;
}

.img_suporte{
    height: 27px;
    width: 27px;
}

.img_grafico{
    height: 96%;
    width: 96%;
}

.img_grafico_setor{
    height: 85px;
    width: 85px;
}

.img_contratos{
    height: 32px;
    width: 32px; 
}

.img_home_clicado{
    height: 32px;
    width: 32px; 
}

.img_perfil{
    height: 32px;
    width: 32px; 
}