@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 1rem;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 8.9% 4% 4% 4%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0%;
    left: 0%;
    bottom: -0.1%;
    padding: 1rem;
    height: 3rem;
    background-color: white;
    box-shadow: 3rem 3rem 3rem black;
}

.icones-navegação {
    height: 2rem;
    width: 2rem;
}

.section-botões {
    height: 2rem;
    width: 2rem;
}

h1{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0.6rem;
}

h2{
    font-size: 150%;
}

p{
    font-size: 1rem;
}

.menu{
    margin: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Economia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botoes-grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.grafico{
    margin-top: 1.5rem;
}

button{
    border: 0rem;
    border-radius: 20px;
    color: black;
    background-color: #e4ebf7;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.button_clicado{
    color: white;
    background-color: rgb(91, 113, 149);
}

.informacao_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}

.meta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.icone-voltar {
    height: 1rem;
    width: 2rem;
}*/

.icone-voltar {
    height: 1.35rem;
    width: 0.8rem;
}

.icone-suporte {
    height: 2rem;
    width: 2rem;
}

.img_sucesso{
    height: 0.95rem;
    width: 0.95rem;
    margin-left: 0.3rem;
}

.img_grafico{
    margin-top: 1.5%;
    max-width: 100%;
    max-height: 100%;
}

.img_grafico_2{
    height: 8rem;
    width: 8rem;
    position: relative;
}

.porcentagem{
    position: absolute;
    font-size: 1.2rem;
    left: 50%;
    top: 42%;
    transform: translateX(-50%);
}

.concluido{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}
