@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    background-color: white;
    z-index: 1;
}

.icone-voltar{
    height: 1rem;
    width: 2rem;
}

.icone-suporte{
    height: 2rem;
    width: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    right: 0%;
    left: 0%;
    top: 10%;
    bottom: 0%;
    padding: 1rem;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: disc;
    font-size: 1.2rem;
}

li{
    margin: 0rem 0rem 1rem 2rem;
}

h2{
    margin-bottom: 1rem;
    font-size: 2rem;
    margin: 0rem 0rem 2.5rem 0rem;
}

a{
    text-decoration: none;
    color: white;
}

.botao_add_end{
    background-color: rgb(91, 113, 149);
    height: 3rem;
    width: 20rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5rem;
    left: 0rem;
    right: 0rem;
}