body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    
}

img{
    max-height: 50%;
    max-width: 50%;
    position: absolute;
    right: 50%;
    transform: translateX(-50%);

}
