header {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    background-color: white;
    z-index: 1;
}


body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 7rem;
    position: relative;
    
}

.icone-sucesso{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 4rem;
    height: 15rem;
    width: 15rem;



}

.icone-voltar{
    height: 1rem;
    width: 2rem;
}

.icone-suporte{
    height: 2rem;
    width: 2rem;
}


footer{
    position: fixed;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    background-color: white;
    z-index: 1;
}

.inicio{
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 20rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.5rem;
    text-align: center;
}