@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* ----------------- Header ----------------- */

header {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    padding: 1rem;
    background-color: white;
    z-index: 1;
}

.icone-voltar {
    height: 1.35rem;
    width: 0.8rem;
}

.icone-suporte {
    height: 1.5rem;
    width: 1.5rem;
}

/* ----------------- Footer ----------------- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0%;
    left: 0%;
    bottom: -0.1%;
    padding: 1rem 2.5rem;
    height: 0.9rem;
    background-color: white;
}

.icones-navegação {
    height: 1.5rem;
    width: 1.5rem;
}

.section-botões {
    height: 1.5rem;
    width: 1.5rem;
}

/* ----------------- Main ----------------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.foto-de-perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 13rem;
    width: 13rem;
    margin-bottom: 3rem;
}

.botões-info {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.info-conta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0.5rem; */
    background-color: rgb(91, 113, 149);
    border-radius: 1.5rem;
    margin: 0.75rem;
    height: 2.7rem;
    width: 18rem;
    font-size: 2rem;
}