body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    background-color: white;
    z-index: 1;
}

main {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.compra {
    border: 0.1rem solid black;
    border-radius: 1.5rem;
    height: 8rem;
    width: 85%;
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.icone-compra {
    position: absolute;
    top: 2%;
    right: 2%;
    height: 3.5rem;
    width: 3.5rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0%;
    left: 0%;
    bottom: -0.1%;
    padding: 1rem;
    height: 3rem;
    background-color: white;
}
.info-compra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4{
    margin-bottom: 1rem;
}

h5{
    margin-bottom: 1rem;
}

.icone-voltar {
    height: 1rem;
    width: 2rem;
}

.icone-suporte {
    height: 2rem;
    width: 2rem;
}

.icones-navegação {
    height: 2rem;
    width: 2rem;
}

.botões-navegação {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-botões {
    height: 2rem;
    width: 2rem;
}