@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'IBM Plex Serif', serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

.icone-voltar {
    height: 1rem;
    width: 2rem;
}

.icone-suporte {
    height: 2rem;
    width: 2rem;
}

.texto {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem 0rem;
}

.contrato {
    display: flex;
    flex-direction: column;
    background-color: rgb(91, 113, 149);
    border-radius: 1.5rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
    margin: 3rem 1.5rem 1rem;
    height: 11rem;
    font-size: 2rem;
}

.botões-decisão {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1.5rem;
}

.pagamento {
    background-color: rgb(91, 113, 149);
    border-radius: 1.5rem;
    height: 2.5rem;
    width: 10rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.economia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 2rem;
    font-size: 2rem;
}

.destaque-economia {
    border: 0.1rem solid black;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}