@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* ----------------- Header ----------------- */

header {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    padding: 1rem;
    background-color: white;
    z-index: 1;
}

.icone-voltar {
    height: 1.35rem;
    width: 0.8rem;
}

.icone-suporte {
    height: 1.5rem;
    width: 1.5rem;
}

/* ----------------- Main ----------------- */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 1.5rem 1.5rem;
    position: relative;
    top: 3rem;
}

label{
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    width: 100%;
    font-size: 1rem;
}

input{
    border: black 0.1rem solid;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

a{
    text-decoration: none;
    color: white;
}

.a_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122,150,196);
    height: 1.5rem;
    width: 10rem;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.button{
    display: flex;
    height: 1.5rem;
    width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgb(91, 113, 149);
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
}