@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 2rem 0rem 2rem;
}

a{
    text-decoration: none;
    color: white;
}

.icone-sucesso{
    height: 12rem;
    width: 12rem;
    margin: 4rem 0rem 0rem 0rem;    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122,150,196);
    height: 1.5rem;
    width: 10rem;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

h3{
    font-size: 1.2rem;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}