@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
    font-family: 'IBM Plex Serif', serif;
}

header {
    display: flex;
    flex-direction: row; 
    margin-top: 6.5rem;
    margin-left: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Ereon{
    max-width: 10rem;
    max-height: 6rem;
}

.entrar{
    box-sizing: content-box;
    width: 5rem;
    height: 2rem;
    font-size: 2rem;
    padding: 0.5rem;
    padding-right: 7rem;
    border-radius: 0.5rem;
    background-color: rgb(91, 113, 149);
    color: white;
    margin-left: 1.75rem;
    margin-bottom: 0.5rem;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
}

.bemvindo{
    font-size: 2rem;
    display: flex;
    margin: 5rem 2rem 1rem;
}

.cadastro{
    display: flex;
    margin-top: 0.6rem;
    margin-left: 2rem;
}