header {
    display: flex;
    flex-direction: row; 
    margin-top: 6.5rem;
    margin-left: 2rem;
}

footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: white;
}

.Ereon{
    max-width: 10rem;
    max-height: 6rem;
    margin-left: 0.5rem;
}
.img_icone{
    max-width: 3.5rem;
    max-height: 3.5rem;
}

.entrar{
    box-sizing: content-box;
    width: 15rem;
    height: 0.5rem;
    padding: 0.5rem;
    padding-right: 7rem;
    border-radius: 0.5rem;
    background-color: rgb(91, 113, 149);
    color: white;
    margin-left: 2.5rem;
}


.bemvindo{
    padding: 10px;
    font-size: 2rem;
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.cadastro{
    display: flex;
    margin-left: 2.5rem;
}

