@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
    font-family: 'IBM Plex Serif', serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 1rem;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 4%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0%;
    left: 0%;
    bottom: -0.1%;
    padding: 1rem;
    height: 3rem;
    background-color: white;
}

.icones-navegação {
    height: 2rem;
    width: 2rem;
}

.section-botões {
    height: 2rem;
    width: 2rem;
}

h1{
    font-size: 150%;
}

h2{
    font-size: 150%;
}

p{
    font-size: 130%;
}

.menu{
    margin: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Economia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes-grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20%;
}

button{
    border: 0rem;
    border-radius: 20px;
    color: white;
    background-color: rgb(122,150,196);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

button:hover{
    background-color: rgb(91, 113, 149);
    transform: scale(1.1);
}

.informacao_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
}

.meta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone-voltar {
    height: 1rem;
    width: 2rem;
}

.icone-suporte {
    height: 2rem;
    width: 2rem;
}

.img_grafico{
    margin-top: 1.5%;
    max-width: 100%;
    max-height: 100%;
}

.img_grafico_setor{
    height: 28%;
    width: 28%;
}
